.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(173, 170, 170);
  font-family: Roboto, sans-serif;
  padding-bottom: 15px;
  padding-top: 15px; 

  & div { 
    flex-basis: 100%;
    text-align: center;
  }
  
  &-link {
    flex-basis: 100%;

    .cart-item-img {      
      height: 90px;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &-delete {
    cursor: pointer;
  }
  &-delete:hover {
    color: red;
  }
}
      
.cart-item div:nth-child(3) {
  flex-shrink: 1.1;
}