$primary-color: #444
$light-color: #e5e5e5

.profilePage
  &-title
    text-align: center
    font-weight: normal
    font-size: 22px
    margin: 20px 0
    color: $primary-color

  &-forms
    display: flex
    flex-direction: column
    align-items: center
<<<<<<< HEAD
    .textField
      margin: 10px
      max-width: 300px
      width: 100%
    button
      margin-top: 10px
      &:disabled
        opacity: .5
        cursor: default
=======
    input
      margin: 10px
    button
      margin-top: 10px
>>>>>>> 5abd8f87b6ebfc70539fc23e9f02d28ad431bfdf
