a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
 ul {
  margin-left: 0;
  padding-left: 0;
 }
 .cart-header-bg {
  background-color: rgb(239, 239, 245);
  padding-top: 20px;
  padding-bottom: 20px;
}
.cart-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-title {
  font-size: 26px;
}

.cart-img-container {
  display: inline-block;
  width: 10%;
}
.cart-img {
  max-width: 100%;
}
.cart-footer {
  text-align: center;
}