a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
 ul {
  margin-left: 0;
  padding-left: 0;
 }
 .cart-header-bg {
  background-color: rgb(239, 239, 245);
  padding-top: 20px;
  padding-bottom: 20px;
}
.cart-header-content, .cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.cart-title {
  font-size: 26px;
}

.cart-img-container {
  display: inline-block;
  width: 10%;
}
.cart-img {
  max-width: 100%;
}
.cart-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid rgb(173, 170, 170);
  padding: 15px;
}