@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

.main{
   background-color: rgb(246, 246, 246);
}

.background {
    background-image: url(http://epicwallpaperz.com/wallpaper-hd/dark-wallpaper-mobile-On-wallpaper-hd.jpg);
    height: 225px;
    background-size: cover;
}

.product-container {
    max-width: 1200px;
    margin: 0 auto 50px;
    display: flex;
    padding: 0 25px;
    background-color: #fff;
}
.photos-block{
    width: 50%;
    &__primary-img{
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 2px solid rgb(240, 240, 240);
    margin-top: 10px;
}

}
.info-block {
    width: 50%;
}

.to-cart-container {
    display: flex;
    margin: 30px 0;
    align-items: center;
    &__availibility{
        border: 2px solid rgb(19, 226, 19);
        color: rgb(19, 226, 19);
        font-weight: 500;
        font-family: "Dosis",sans-serif;
        margin-left: 30px;
        padding: 10px;
    }
}

.availibility{
    border: 2px solid rgb(19, 226, 19);
    color: rgb(19, 226, 19);
    font-weight: 500;
    font-family: "Dosis",sans-serif;
    margin-left: 30px;
    padding: 10px;
}











