.button{
    display: flex;
    font-family: "Dosis",sans-serif;
        &_primary{
        background-color: #fff;
        border: 2px solid black;
        color: black;
        font-size: 19px;
        font-weight: 500;
        padding: 0 15px;
        margin-left: 50px;
        height: 64px;
        &:hover {
            color: gold;
            border-color: gold;
        }   
    }
}

.icon-container {
    margin-right: 10px;
}